mixin AdvantagesList(parent, content)
  - parent = parent ? parent : 'advantages';

  ul.advantages-list(class=`${parent}__list`)
    for item in content
      li.advantages-list__item
        svg.advantages-list__icon(class=`advantages-list__icon--is-${item.icon}`)
          use(href=`/img/sprite.svg#${item.icon}`)

        .advantages-list__wrapper
          h2.advantages-list-title
            span.advantages-list-title__text= item.title

          p.advantages-list-info.advantages-list__info
            span.advantages-list-info__text= item.info
