include SidebarIcon/template

mixin Sidebar(parent)
  - parent = (parent) ? parent : 'page';

  ul.sidebar(class=`${parent}__sidebar`)
    for item in sidebar
      li.sidebar__item
        if item.isButton
          button.sidebar__button(class=item.button.class title=item.button.title)
            +SidebarIcon('', item.icon)
        else
          - urlLink = (item.url.type) ? `${item.url.type}:${item.url.link}` : item.url.link;

          a.sidebar__link(href=urlLink title=item.url.title)
            +SidebarIcon('', item.icon)
