mixin Menu(parent, place)
  - parent = (parent) ? parent : 'page';
  - MenuPlaceClass = place ? `menu--in-${place} menu--in-${place}` : '';

  .menu(class=`${parent}__menu ${MenuPlaceClass}`)
    if place === 'footer'
      h2.menu-title
        span.menu-title__text= menu.title

    else
      button.menu-toggler.js--toggle-menu-button(type="button" title="Открыть меню")
        span.menu-toggler__line

    ul.menu-list.menu__list
      for item in menu.items
        li.menu-list__item
          a.menu-list-link.menu-list__link(href=item.url title=item.urlTitle)
            span.menu-list-link__text= item.title
