mixin Clients(parent)
  - parent = (parent) ? parent : 'home';

  section.clients(class=`${parent}__clients`)
    .u-wrapper.u-wrapper--is-p-0
      h2.clients-title
        span.clients-title__text!= clients.title

      ul.clients-list.clients__list
        for client in clients.items
          li.clients-list__item
            picture.clients-pic.clients-list__pic
              source(srcset=`img/clients/${client.pic.name}.webp` type='image/webp')
              img.clients-pic__logo(src=`img/clients/${client.pic.alt}` alt=client.pic.alt)
